/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #2c3e50;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

/* Cabeçalho */
header {
    width: 100%;
    position: fixed; /* Cabeçalho fixo ao topo */
    top: 0;
    left: 0;
    background-color:  #EC5800;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Links de navegação */
.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.nav-links li a:hover {
    border-color: #3498db;
}

/* Formulário de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem; /* Distância do cabeçalho fixo */
    padding: 2rem;
}

.login-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px; /* Largura máxima do formulário */
}

h2 {
    margin-bottom: 20px;
    color: #2c3e50;
    font-weight: 700;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #7f8c8d;
    font-size: 0.9rem;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #3498db;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9;
}

/* Links adicionais abaixo do formulário */
.additional-options {
    margin-top: 15px;
    font-size: 0.85rem;
    color: #3498db;
}

.additional-options a {
    text-decoration: none;
    color: #2980b9;
    margin: 0 5px;
}

.additional-options a:hover {
    text-decoration: underline;
}
